{% extends '@ArkounayQuickAdminGenerator/crud/view.html.twig' %}

{% block action_name entity %}

{% block fields _self.render_fields(entity) %}

{% macro render_fields(contact) %}
    {# contact \App\Entity\Contact #}
    <tr>
        <th>Date d'envoi</th>
        <td>Le {{ contact.createdAt|date('d/m/Y à H:i') }}</td>
    </tr>
    <tr>
        <th>Prénom</th>
        <td>{{ contact.firstName }}</td>
    </tr>
    <tr>
        <th>Nom</th>
        <td>{{ contact.lastName }}</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
    </tr>
    <tr>
        <th>Message</th>
        <td>
            {{ contact.message|nl2br }}
        </td>
    </tr>
{% endmacro %}