<div id="js-ff-cookie-bar" class="cookies_bar"
    {% if not getDesign('disable') %}
        style="background-color: {{ getDesign('bg_color') }}; color: {{ getDesign('text_color') }}"
    {% endif %}
>
    <div class="cookies_bar_col">
        <img width="107" height="106" src="{{ asset('images/cookie.svg') }}" role="presentation">
    </div>
    <div class="cookies_bar_col">
        <p><strong>{{ 'cookies_bar.title'|trans({},'GdprBundle') }}</strong></p>
        <p>{{ 'cookies_bar.message'|trans({},'GdprBundle') }}</p>
        <p>
            <a href="{{ path('fluffy_gdpr') }}">{{ 'cookies_bar.see.more'|trans({},'GdprBundle') }}</a> - <a href="{{ path('fluffy_gdpr', {'_fragment': 'params'}) }}">{{ 'cookies_bar.set.cookies'|trans({},'GdprBundle') }}</a>
        </p>

        <div class="hstack flex-align-center">
            <button id="js-ff-cookies-deny" type="button" class="btn"
                    {% if not getDesign('disable') %}
                        style="background-color: {{ getDesign('btn_deny_bg_color') }}; color: {{ getDesign('btn_deny_text_color') }}"
                    {% endif %}
            >
                {{ 'cookies_bar.deny'|trans({},'GdprBundle') }}
            </button>

            <button id="js-ff-cookies-allow" type="button" class="btn-secondary"
                    {% if not getDesign('disable') %}
                        style="background-color: {{ getDesign('btn_allow_bg_color') }}; color: {{ getDesign('btn_allow_text_color') }}"
                    {% endif %}
            >
                {{ 'cookies.accept'|trans({},'GdprBundle') }}
            </button>
        </div>
    </div>
</div>