{% extends "base.html.twig" %}

{% block main %}

    <div class="section">
        <div class="container">
            <h1 class="text-left text-m-center">{{ page('title') }}</h1>

            {{ page('content') }}

            {% block required_cookies_table %}
                <h2 id="params" class="mt-6">{{ 'cookies.required.title'|trans({},'GdprBundle') }}</h2>
                <div class="card table-container">
                    <div class="card_body">
                        <table>
                            <thead>
                            <tr>
                                <th>{{ 'cookies.name'|trans({},'GdprBundle') }}</th>
                                <th>{{ 'cookies.description'|trans({},'GdprBundle') }}</th>
                                <th>{{ 'cookies.details'|trans({},'GdprBundle') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cookie in required_cookies %}
                                <tr>
                                    <td>{{ cookie.name|trans({},'GdprBundle') }}</td>
                                    <td>{{ cookie.description|trans({},'GdprBundle') }}</td>
                                    <td>{{ cookie.detail|trans({},'GdprBundle') }}</td>
                                </tr>
                            {% endfor %}
                            {% for cookie in optionnal_cookies %}
                                <tr>
                                    <td>{{ cookie.name|trans({},'GdprBundle') }}</td>
                                    <td>{{ cookie.description|trans({},'GdprBundle') }}</td>
                                    <td>{{ cookie.detail|trans({},'GdprBundle') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endblock %}

            {% block optionnal_cookies_table %}
                <h2 class="mt-gutter">{{ 'cookies.optionnal.title'|trans({},'GdprBundle') }}</h2>

                {{ form_start(form) }}
                <div class="stack-full">
                    {% for key, optionnal in optionnal_cookies %}
                        <div class="card">
                            <div class="card_body">
                                <p class="mb-0"><strong>{{ optionnal.name }}</strong></p>
                                <p class="mb-1">
                                    {{ optionnal.description }} <em><small>{{ optionnal.detail }}</small></em>
                                </p>
                                <div class="hstack-auto">
                                    {{ form_widget(form[key]) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div>
                    <button type="submit" role="button" class="btn-secondary mt-gutter">Enregistrer</button>
                </div>
                {{ form_end(form) }}
            {% endblock %}
        </div>
    </div>

{% endblock %}