<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">
        {# Sharing #}
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="Mydésembouage"/>
        {# Todo Description de partage #}
        <meta property="og:description" content=""/>
        <meta property="og:url" content="{{ app.request.uri }}"/>
        <meta property="og:image:width" content="1200"/>
        <meta property="og:image:height" content="630"/>
        {# Todo Image de partage #}
        {# <meta property="og:image" content="{{ absolute_url(asset('images/')) }}"/>#}

        {# Todo Description #}
        {# <meta name="description" content="{% block description page('seo').description|default %}"/> #}

        <meta name="robots" content="noindex, nofollow">

        <title>{% block title %}__project_name__{% endblock %}</title>

        {% block fonts %}
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
